Flask==0.10.1
Flask-Login==0.2.11
Flask-Migrate==1.2.0
Flask-RESTful==0.3.0
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Flask-Testing==0.4.2
Flask-WTF==0.9.5
Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
SQLAlchemy==0.9.8
SQLAlchemy-Utils==0.26.5
WTForms==1.0.5
Werkzeug==0.9.6
alembic==0.6.5
amqp==1.4.6
aniso8601==0.85
anyjson==0.3.3
argparse==1.2.1
backports.pbkdf2==0.1
billiard==3.3.0.19
celery==3.1.17
cov-core==1.15.0
coverage==3.7.1
decorator==3.4.0
flake8==2.2.5
itsdangerous==0.24
jedi==0.8.1-final0
kombu==3.0.30
mccabe==0.2.1
mock==1.0.1
pep8==1.5.7
py==1.4.26
pyflakes==0.8.1
pyparsing==2.0.2
pytest==2.6.4
pytest-cov==1.8.1
python-docx==0.5.3
pytz==2014.10
six==1.8.0
validators==0.6.0
wsgiref==0.1.2
xlrd==0.9.3
